In [ ]:
!pip3 install pandas

In [4]:
import pandas as pd

In [5]:
file_path = '/Users/abel/Downloads/dataset ikn/dataset/ikn1-7.csv'

try:
    df = pd.read_csv(file_path)
    display(df)

except FileNotFoundError:
    print(f"Error: File not found at '{file_path}'")
except pd.errors.EmptyDataError:
    print(f"Error: File at '{file_path}' is empty")
except pd.errors.ParserError:
    print(f"Error: Could not parse the file at '{file_path}'. Check file format.")

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1854022077923361235,Fri Nov 08 18:45:16 +0000 2024,0,@Dennysiregar7 Hai bung.DS! Dungu ah! Hari ini...,1854958384086499469,NaN,Dennysiregar7,in,NaN,0,0,0,https://x.com/suryasena53/status/1854958384086...,1297043782874013696,suryasena53
1,1854792999513079922,Fri Nov 08 18:42:45 +0000 2024,0,@geloraco Halah ikn udah mewah mewah dibangun ...,1854957750645932397,NaN,geloraco,in,NaN,0,0,0,https://x.com/nickFurry05/status/1854957750645...,1380051064800481282,nickFurry05
2,1854733080549863768,Fri Nov 08 18:15:43 +0000 2024,0,@KompasTV mumpung presiden lawatan luar negeri...,1854950945165394323,https://pbs.twimg.com/media/Gb4cDY-bwAAzb07.jpg,KompasTV,in,NaN,0,0,0,https://x.com/sabronaiditnusa/status/185495094...,1348933530416422913,sabronaiditnusa
3,1854639469921812725,Fri Nov 08 17:59:57 +0000 2024,2,@stclairashley Apa bilang saja..... Mau ke IKN?,1854946978532409355,NaN,stclairashley,in,"Golden, British Columbia",0,0,0,https://x.com/HermanSporty7/status/18549469785...,1827835985368879104,HermanSporty7
4,1854852774921453625,Fri Nov 08 17:54:37 +0000 2024,13,@kumparan kemaren2 foya-foya buat acara sehari...,1854945637583966612,NaN,kumparan,in,NaN,0,0,1,https://x.com/484nX/status/1854945637583966612,1714692943628668928,484nX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3042,1859542919310606468,Thu Nov 21 10:22:35 +0000 2024,1,Calon Gubernur Jakarta No urut 3 Pramono Anung...,1859542919310606468,https://pbs.twimg.com/media/Gc5sbLoaAAMIvhi.jpg,NaN,in,Jakarta,0,0,0,https://x.com/kanalsa_id/status/18595429193106...,1767247974336454656,kanalsa_id
3043,1859458451665220068,Thu Nov 21 10:15:10 +0000 2024,0,@sociotalker Rumus kebalikan mulyono Bakal ser...,1859541054460158312,NaN,sociotalker,in,ₕₐₚₚᵧ ₕₑᵣₑ ₕₐₚₚᵧ ₜₕₑᵣₑ,0,0,0,https://x.com/anjungan_kapal/status/1859541054...,104044909,anjungan_kapal
3044,1857967474865746304,Thu Nov 21 10:13:34 +0000 2024,0,@kentankrobot @delphinus_ikn @tikionly @Sosmed...,1859540652029247999,NaN,kentankrobot,in,"Jeneponto, Sulawesi Selatan",0,1,0,https://x.com/JayaJenepo75108/status/185954065...,1764465828618256384,JayaJenepo75108
3045,1859540386055606380,Thu Nov 21 10:12:31 +0000 2024,30,Mks y ikn ny bnykk.. ak blh pnjm bj km g? @fl...,1859540386055606380,https://pbs.twimg.com/media/Gc5qFXQbIAAWjjw.jpg,NaN,in,NaN,1,2,1,https://x.com/mieayamiya/status/18595403860556...,1278764976295931909,mieayamiya
3046,1859527223180439616,Thu Nov 21 10:11:42 +0000 2024,0,@TahiraDuwaa Nakilo azadi ke khater,1859540179653886088,NaN,TahiraDuwaa,in,Pakistan,0,0,0,https://x.com/ikN_804/status/1859540179653886088,1546154827104849921,ikN_804

In [6]:
df.duplicated().sum()

np.int64(640)

In [7]:
duplicate = df[df.duplicated(keep=False)]
duplicate

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1854022077923361235,Fri Nov 08 18:45:16 +0000 2024,0,@Dennysiregar7 Hai bung.DS! Dungu ah! Hari ini...,1854958384086499469,NaN,Dennysiregar7,in,NaN,0,0,0,https://x.com/suryasena53/status/1854958384086...,1297043782874013696,suryasena53
1,1854792999513079922,Fri Nov 08 18:42:45 +0000 2024,0,@geloraco Halah ikn udah mewah mewah dibangun ...,1854957750645932397,NaN,geloraco,in,NaN,0,0,0,https://x.com/nickFurry05/status/1854957750645...,1380051064800481282,nickFurry05
2,1854733080549863768,Fri Nov 08 18:15:43 +0000 2024,0,@KompasTV mumpung presiden lawatan luar negeri...,1854950945165394323,https://pbs.twimg.com/media/Gb4cDY-bwAAzb07.jpg,KompasTV,in,NaN,0,0,0,https://x.com/sabronaiditnusa/status/185495094...,1348933530416422913,sabronaiditnusa
3,1854639469921812725,Fri Nov 08 17:59:57 +0000 2024,2,@stclairashley Apa bilang saja..... Mau ke IKN?,1854946978532409355,NaN,stclairashley,in,"Golden, British Columbia",0,0,0,https://x.com/HermanSporty7/status/18549469785...,1827835985368879104,HermanSporty7
4,1854852774921453625,Fri Nov 08 17:54:37 +0000 2024,13,@kumparan kemaren2 foya-foya buat acara sehari...,1854945637583966612,NaN,kumparan,in,NaN,0,0,1,https://x.com/484nX/status/1854945637583966612,1714692943628668928,484nX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400,1857060926547182061,Fri Nov 15 09:08:36 +0000 2024,0,@democrazymedia Angkat jd ketua RT di ikn,1857349976273420359,NaN,democrazymedia,in,NaN,0,0,0,https://x.com/FajriFatah1906/status/1857349976...,1750727881884565504,FajriFatah1906
2401,1857348174308118707,Fri Nov 15 09:01:27 +0000 2024,0,Ibu Kota Nusantara #IbuKotaNegaraNusantara #IK...,1857348174308118707,https://pbs.twimg.com/media/GcagUkFboAAH3Sg.jpg,NaN,in,NaN,0,0,0,https://x.com/perimata879/status/1857348174308...,1811972137659564033,perimata879
2402,1857348129210728865,Fri Nov 15 09:01:16 +0000 2024,0,IKN Simbol Pemerataan Ekonomi Indonesia yang H...,1857348129210728865,https://pbs.twimg.com/media/GcagR4ZbAAAVOA2.jpg,NaN,in,NaN,0,0,0,https://x.com/perimata879/status/1857348129210...,1811972137659564033,perimata879
2513,1857306510734643482,Fri Nov 15 06:49:33 +0000 2024,4,@Zay34562 Kelamaan bebas berkeliaran artis2 ju...,1857314981014127087,https://pbs.twimg.com/ext_tw_video_thumb/18573...,Zay34562,in,NaN,0,0,4,https://x.com/IKNK0t4M4t1_/status/185731498101...,1847674740041039872,IKNK0t4M4t1_
2547,1856935941493199072,Fri Nov 15 06:23:30 +0000 2024,4,@NephilaXmus Daftar Warisan Jokowi utk Rakyat ...,1857308426541637828,NaN,NephilaXmus,in,NaN,0,0,0,https://x.com/AvatarAang73/status/185730842654...,1489480045944922115,AvatarAang73

In [8]:
df_clean = df.drop_duplicates()
df_clean.shape

(2407, 15)

In [9]:
duplicatse = df_clean[df_clean.duplicated(keep=False)]
duplicatse

Empty DataFrame
Columns: [conversation_id_str, created_at, favorite_count, full_text, id_str, image_url, in_reply_to_screen_name, lang, location, quote_count, reply_count, retweet_count, tweet_url, user_id_str, username]
Index: []

In [10]:
df = pd.read_csv(file_path)

input_col = 'full_text'
df.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1854022077923361235,Fri Nov 08 18:45:16 +0000 2024,0,@Dennysiregar7 Hai bung.DS! Dungu ah! Hari ini...,1854958384086499469,NaN,Dennysiregar7,in,NaN,0,0,0,https://x.com/suryasena53/status/1854958384086...,1297043782874013696,suryasena53
1,1854792999513079922,Fri Nov 08 18:42:45 +0000 2024,0,@geloraco Halah ikn udah mewah mewah dibangun ...,1854957750645932397,NaN,geloraco,in,NaN,0,0,0,https://x.com/nickFurry05/status/1854957750645...,1380051064800481282,nickFurry05
2,1854733080549863768,Fri Nov 08 18:15:43 +0000 2024,0,@KompasTV mumpung presiden lawatan luar negeri...,1854950945165394323,https://pbs.twimg.com/media/Gb4cDY-bwAAzb07.jpg,KompasTV,in,NaN,0,0,0,https://x.com/sabronaiditnusa/status/185495094...,1348933530416422913,sabronaiditnusa
3,1854639469921812725,Fri Nov 08 17:59:57 +0000 2024,2,@stclairashley Apa bilang saja..... Mau ke IKN?,1854946978532409355,NaN,stclairashley,in,"Golden, British Columbia",0,0,0,https://x.com/HermanSporty7/status/18549469785...,1827835985368879104,HermanSporty7
4,1854852774921453625,Fri Nov 08 17:54:37 +0000 2024,13,@kumparan kemaren2 foya-foya buat acara sehari...,1854945637583966612,NaN,kumparan,in,NaN,0,0,1,https://x.com/484nX/status/1854945637583966612,1714692943628668928,484nX

In [11]:
import re

def remove_special_characters(text):
    text = re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", str(text))
    text = re.sub(r"\d+", "", text)
    return text

df['cleaned_text'] = df[input_col].apply(remove_special_characters)
df[['cleaned_text']].head()

                                        cleaned_text
0   Hai bungDS Dungu ah Hari ini Prab terbitkan K...
1   Halah ikn udah mewah mewah dibangun ngapain d...
2   mumpung presiden lawatan luar negeri sekitar ...
3                         Apa bilang saja Mau ke IKN
4   kemaren foyafoya buat acara sehari di IKN doa...

In [12]:
def case_folding(text):
    return text.lower()

df['case_folded_text'] = df['cleaned_text'].apply(case_folding)
df[['case_folded_text']].head()

                                    case_folded_text
0   hai bungds dungu ah hari ini prab terbitkan k...
1   halah ikn udah mewah mewah dibangun ngapain d...
2   mumpung presiden lawatan luar negeri sekitar ...
3                         apa bilang saja mau ke ikn
4   kemaren foyafoya buat acara sehari di ikn doa...

In [13]:
!pip3 install nltk

Collecting nltk
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting click (from nltk)
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Collecting joblib (from nltk)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp313-cp313-macosx_10_13_x86_64.whl.metadata (40 kB)
Collecting tqdm (from nltk)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 8.3 MB/s eta 0:00:00
Downloading regex-2024.11.6-cp313-cp313-macosx_10_13_x86_64.whl (288 kB)
Downloading click-8.1.7-py3-none-any.whl (97 kB)
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, regex, joblib, click, nltk
Successfully installed click-8.1.7 joblib-1.4.2 nltk-3.9.1 regex-2024.11.6 tqdm-4.67.1

In [21]:
!pip3 install --user -U nltk

Requirement already satisfied: nltk in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.9.1)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (4.67.1)

In [23]:
from nltk.tokenize import word_tokenize
import nltk

# Download necessary NLTK resources
nltk.download('punkt')

# Function to tokenize text
def tokenize_text(text):
    return word_tokenize(text)

# Assuming df and 'case_folded_text' column exist
# Replace df['case_folded_text'] with the actual DataFrame and column name
df['tokenized_text'] = df['case_folded_text'].apply(tokenize_text)
print(df[['tokenized_text']].head())

[nltk_data] Error loading punkt: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1018)>

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - '/Users/husnul/nltk_data'
    - '/Library/Frameworks/Python.framework/Versions/3.13/nltk_data'
    - '/Library/Frameworks/Python.framework/Versions/3.13/share/nltk_data'
    - '/Library/Frameworks/Python.framework/Versions/3.13/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
    - '/Users/husnul/Downloads'
**********************************************************************